<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bits.cloudlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".controlador.SyncService" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Navegacion"
            android:label="@string/title_activity_navegacion"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.NAVEGACION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Reservas"
            android:label="@string/title_activity_reservas"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.RESERVAS" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name=".Sanciones_reservas"
            android:label="@string/title_activity_sanciones_reservas"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.SANCIONES_RESERVAS" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
            </activity>

        <activity
            android:name=".Alta_baja_modificacion"
            android:label="@string/title_activity_alta_baja_modificacion"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.ALTA_BAJA_MODIFICACION" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

    </application>

</manifest>
